@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gray-1: #666;
    --gray-2: #d6d6d6;
    --gray-3: #f4f4f4;
    --background-color: #fff;
    --foreground: #000;
  }

  .dark {
    --background-color: #1c1c1c;
    --gray-3: #232323;
    --gray-2: #303030;
    --gray-1: #606060;
    --foreground: #fff;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

/** custom components **/
@import '../components/editor/styles.scss';

.grid-line {
  position: absolute;
  background-color: #ccc;
  opacity: 0.5;
}

/* Nested classes for scrollbar styles */
.scrollbar {
  /* width */
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    width: '1px';
    height: '1px';
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #16151C;
    border-radius: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #16151C;
  }
}

html,
body,
#root {
  display: flex;
  flex-direction: column; /* Set the direction to column if needed */
  min-height: 100vh; /* Ensure the body takes up the full viewport height */
}


.moveable-dimension {
  position: absolute;
  background: #16151C;
  border-radius: 2px;
  padding: 1px 3px;
  color: white;
  font-size: 13px;
  white-space: nowrap;
  font-weight: bold;
  transform: translate(-50%);
  pointer-events: none;
}

